<%= form_for(@payment_term) do |f| %>
  <% if @payment_term.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@payment_term.errors.count, "error") %> prohibited this payment_term from being saved:</h2>

      <ul>
      <% @payment_term.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :content %><br>
    <%= f.cktext_area :content %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
