<div class="container">
  <div class="row">
    <div class="col s3"></div>
    <div class="col s6">
      <h1>Sign Up</h1>

    <% if @admin.errors.any? %>
      <div class="error_messages"> 
        <ul>
          <% for message in @admin.errors.full_messages %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%= form_for @admin do |f| %>
      <p>
        <%= f.label :name %><br />
        <%= f.text_field :name %>
      </p>
      <p>
        <%= f.label :email %><br />
        <%= f.text_field :email %>
      </p>
      <p>
        <%= f.label :password %><br />
        <%= f.password_field :password %>
      </p>
      <p>
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation %>
      </p>
      <p class="waves-effect btn blue"><%= f.submit %></p>
    <% end %>
    </div>
    <div class="col s3"></div>
  </div>
</div>