<%= form_for(@article, html: { multipart: true, class: "form" }) do |f| %>

  <% if @article.errors.any? %>
    <div id="error_explanation">  
        <ul class="card-panel red white-text">
        <% @article.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul> 
    </div>
  <% end %>

  <div class="field"> 
    <%= f.hidden_field :admin_id, :value => current_user.id %>
  </div>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :body %><br>
    <%= f.cktext_area :body %>
  </div>

  <div class="col s12 m4 file-field input-field right">
    <div class="btn">
      <span>Featured Image</span>
      <input type="file">
    </div>
    <div class="file-path-wrapper">
    <%= f.file_field :image %>
    </div>
  </div> 
  <br>
  <br> 
  <div class="actions waves-effect btn blue">
    <%= f.submit %>
  </div>

<% end %>
