<% provide(:title, "Articles |")%>
<%= render "layouts/navbar_admin" %> 
<div class="container">
  <h4 class="center">Recent Articles</h4>
  <%= link_to 'New Article', admin_articles_new_path, class: "waves-effect green btn" %>
  
  <%= render "partials/notification" %>
  
  <% if @articles.count == 0 %>
    <h4 class="red-text center">No Articles posted!</h4>
  <% else %>
    <% @articles.each do |article| %> 
      <div class="row">
        <div class="col s12 m2 center">
          <%= image_tag article.image.url(:average)%>
        </div>
        <div class="col s12 m10">
          <h5>
            <%= link_to article.title.upcase, "articles/"+article.slug, class: "black-text" %><br>
            <small class="grey-text" style="font-size: 13px">Posted: <%= time_ago_in_words(article.created_at)%> ago | 
            <%= link_to material_icon.edit,{controller: "articles", action: "edit", id: article.slug }%> | 

              <%= link_to material_icon.delete,{controller: "articles", action: "destroy", id: article.slug }, method: :delete, data: { confirm: 'Are you sure?' } %>
            </small> 
          </h5>
          <p>
            <%= raw article.body[0,100] %>... <%= link_to "Read more", {controller: "articles", action: "show", id: article.slug }%>
          </p>
        </div>
      </div>
      <div class="divider"></div>
    <% end %>  
  <% end %>

</div>