<% provide(:title, "Gallery |")%>
<%= render "layouts/navbar_user" %>
	<div class="container"> 
		<h4 class="center blue-text">Nihongo Class Gallery</h4> 
		<% if @galleries.count == 0 %>
			<h5 class="center red-text">Nothing to show image for now.</h5>
		<% else %>
			<div class="row">
		      <% @galleries.each do |gallery| %>

		        <div class="col s12 m4">
		          <div class="card">
		            <div class="card-image">
		              <%= image_tag gallery.image.url(:large)%> 
		            </div>   
		                <span style="padding:8px;"><%= gallery.caption %></span>
		          </div>
		        </div> 
		        
		      <% end %>
		    </div>
		<% end %>
	</div>
<%= render "partials/check" %>
<%= render "layouts/footer_user" %>