<% provide(:title, @articles.title.capitalize + " |")%>
<%= render "layouts/navbar_user" %> 
<div class="container"> 
	<div class="section">
		<h4 class="center"><%= @articles.title.capitalize %></h4> 
		<p class="center grey-text">Created by: <%= @author.name %> - <%= time_ago_in_words(@articles.created_at) %> ago</p>
		<div class="divider"></div> 
		<%= raw @articles.body %>  
	</div>
	<div class="section">
		<div class="divider"></div>
	</div>
	<div class="section">
		<div class="row">
			<div class="col s2">
				<h5>Recent Articles</h5>
			</div>
			<% @allarticles.each do |allarticle|%>
				<div class="col s3">
					<div class="card-panel green darken-1center">
						<%= link_to allarticle.title, "articles/"+allarticle.slug, class: "white-text" %>
					</div>
				</div>
			<% end %>
		</div> 	
	</div>
</div>
<%= render "layouts/footer_user" %>
