<!DOCTYPE html>
<html>
	<head>
	  <title><%= yield(:title)%> Studynihongo</title>
	  <%= favicon_link_tag "girl-anime.png" %>
	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	  <%= csrf_meta_tags %>
	</head>
		<body>  

			<%= yield %> 
			
		</body>
		<script type="text/javascript">
			$(document).ready(function(){ 
			    $(".button-collapse").sideNav({

			      menuWidth: 300, // Default is 240
			      edge: 'right', // Choose the horizontal origin
			      closeOnClick: true // Closes side-nav on <a> clicks, useful for Angular/Meteor

			    }); 
			    $('.modal-trigger').leanModal(); 
			    $('.scrollspy').scrollSpy();   
			    $('.tooltipped').tooltip({delay: 50}); 
			})
		</script>
</html>
